@import "fonts_mono.css";

/* Colours */

.light, .light-theme, .white-theme, html[data-theme=light] {

	--accent-color: #0b82b9;
	--accent-dark-color: #3982C2;
	--accent-bright-color: #00BFFF;		
	
	--ls-primary-background-color: #F7F7F7;
	--ls-secondary-background-color: #EAEAEA;
	--ls-tertiary-background-color: #FBFBFB;
	--ls-quaternary-background-color: #C8C9C8;

	--ls-primary-text-color: #262626;
	--ls-title-text-color: #262626;
	
	--ls-secondary-text-color: #808080;
	

	--ls-block-properties-background-color: #EAEAEA;
	--ls-page-properties-background-color: #EAEAEA;
	--ls-table-tr-even-background-color: #EAEAEA;
	--ls-page-inline-code-bg-color: #EAEAEA;
	--ls-a-chosen-bg: #EAEAEA;
	
	--ls-link-text-color: #0b82b9;
	--ls-link-text-hover-color: #272727;
	--ls-link-ref-text-color: #747474;
	--ls-link-ref-text-hover-color: #272727;
		
	--ls-block-highlight-color: #ACEBFB;
	--ls-selection-background-color: #ACEBFB;
	
	--ls-block-bullet-border-color: #dedede;
	--ls-block-bullet-color: rgba(62, 62, 62, 0.25);

/*
	--ls-table-tr-even-background-color: #f7f7f7;
	--ls-active-primary-color: rgb(4, 85, 145);
	--ls-active-secondary-color: #003761;
	--ls-block-properties-background-color: #f7f7f7;
	--ls-page-properties-background-color: #f7f7f7;
	--ls-block-ref-link-text-color: #d8e1e8;
	--ls-search-background-color: var(--ls-primary-background-color);
	--ls-border-color: #ccc;
	--ls-secondary-border-color: #e2e2e2;
	--ls-guideline-color: rgba(46, 27, 5, 0.08);
	--ls-menu-hover-color: var(--ls-a-chosen-bg);
	--ls-primary-text-color: #433f38;
	--ls-secondary-text-color: #161e2e;
	--ls-title-text-color: var(--ls-primary-text-color);
	--ls-link-text-color: #106ba3;
	--ls-link-text-hover-color: #1a537c;
	--ls-link-ref-text-color: #106ba3;
	--ls-link-ref-text-hover-color: #1a537c;
	--ls-tag-text-color: var(--ls-link-ref-text-color);
	--ls-tag-text-hover-color: var(--ls-link-ref-text-hover-color);
	--ls-slide-background-color: #fff;
	--ls-page-checkbox-color: #9dbbd8;
	--ls-page-checkbox-border-color: var(--ls-page-checkbox-color);
	--ls-page-blockquote-color: var(--ls-primary-text-color);
	--ls-page-blockquote-bg-color: #fbfaf8;
	--ls-page-blockquote-border-color: #799bbc;
	--ls-page-inline-code-bg-color: #f7f7f7;
	--ls-page-inline-code-color: var(--ls-primary-text-color);
	--ls-scrollbar-foreground-color: rgba(0, 0, 0, 0.1);
	--ls-scrollbar-background-color: rgba(0, 0, 0, 0.05);
	--ls-scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.2);
	--ls-head-text-color: var(--ls-link-text-color);
	--ls-cloze-text-color: #0000cd;
	--ls-icon-color: #908e8b;
	--ls-search-icon-color: var(--ls-icon-color);
	--ls-a-chosen-bg: #f7f7f7;
	--ls-right-sidebar-code-bg-color: var(--ls-secondary-background-color);
	--color-level-1: var(--ls-secondary-background-color);
	--color-level-2: var(--ls-tertiary-background-color);
	--color-level-3: var(--ls-quaternary-background-color);
	--color-level-4: #d0e6fa;
	--color-level-5: #bbdaf6;	
*/
}

/* Note: chosen (i.e., highlighted selection) means we need lighter foreground colors */
.chosen,
.dark, .dark-theme, html[data-theme=dark] {

	--accent-color: #18BDEC;
	--accent-dark-color: #3982C2;
	--accent-bright-color: #00BFFF;		
	
	--ls-primary-background-color: #18181A;
	--ls-secondary-background-color: #27272A;
	--ls-tertiary-background-color: #373737;
	--ls-quaternary-background-color: #424242;
	
	--ls-primary-text-color: #CCCCCC;
	--ls-title-text-color: #CCCCCC;
	
	--ls-secondary-text-color: #909090;
	
	--ls-block-properties-background-color: #27272A;
	--ls-page-properties-background-color: #27272A;
	--ls-table-tr-even-background-color: #27272A;
	--ls-page-inline-code-bg-color: #27272A;
	--ls-a-chosen-bg: #27272A;
	
	--ls-link-text-color: #18BDEC;
	--ls-link-text-hover-color: var(--ls-primary-text-color);
	--ls-link-ref-text-color: var(--ls-secondary-text-color);
	--ls-link-ref-text-hover-color: var(--ls-primary-text-color);

	--ls-page-inline-code-color: var(--ls-primary-text-color);
	
	--ls-block-highlight-color: #134353;
	--ls-selection-background-color: #134353;
	
	--ls-border-color: #555;
	--ls-block-bullet-color: #555;
	--ls-block-bullet-border-color: #3A3A3A;
	--ls-guideline-color: rgba(64,64,64,0.5);
	--ls-scrollbar-foreground-color: rgba(64,64,64,1);
	--ls-scrollbar-background-color: r rgba(64,64,64,0.5);
	
/*
	--ls-table-tr-even-background-color: #03333f;
	--ls-active-primary-color: #8ec2c2;
	--ls-active-secondary-color: #d0e8e8;
	--ls-block-properties-background-color: #06323e;
	--ls-page-properties-background-color: #02171d;
	--ls-block-ref-link-text-color: #1a6376;
	--ls-search-background-color: linear-gradient( to right, #021c23 0, #021b21 200px, #002b36 100% );
	--ls-border-color: #0e5263;
	--ls-secondary-border-color: #126277;
	--ls-guideline-color: #0b4a5a;
	--ls-menu-hover-color: var(--ls-secondary-background-color);
	--ls-primary-text-color: #a4b5b6;
	--ls-secondary-text-color: #dfdfdf;
	--ls-title-text-color: #93a1a1;
	--ls-link-text-color: rgb(138, 187, 187);
	--ls-link-text-hover-color: var(--ls-active-secondary-color);
	--ls-link-ref-text-color: var(--ls-link-text-color);
	--ls-link-ref-text-hover-color: var(--ls-link-text-hover-color);
	--ls-tag-text-color: var(--ls-link-text-color);
	--ls-tag-text-hover-color: var(--ls-link-text-hover-color);
	--ls-slide-background-color: var(--ls-primary-background-color);
	--ls-block-bullet-border-color: #0f4958;
	--ls-block-bullet-color: #608e91;
	--ls-block-highlight-color: #0a3d4b;
	--ls-selection-background-color: #338fff;
	--ls-page-checkbox-color: #6093a0;
	--ls-page-checkbox-border-color: var(--ls-primary-background-color);
	--ls-page-blockquote-color: var(--ls-primary-text-color);
	--ls-page-blockquote-bg-color: var(--ls-secondary-background-color);
	--ls-page-blockquote-border-color: var(--ls-border-color);
	--ls-page-inline-code-color: var(--ls-primary-text-color);
	--ls-page-inline-code-bg-color: #01222a;
	--ls-scrollbar-foreground-color: #11505f;
	--ls-scrollbar-background-color: rgba(30, 60, 67, 0.1);
	--ls-scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.2);
	--ls-head-text-color: var(--ls-link-text-color);
	--ls-cloze-text-color: #8fbc8f;
	--ls-icon-color: var(--ls-link-text-color);
	--ls-search-icon-color: var(--ls-link-text-color);
	--ls-a-chosen-bg: var(--ls-secondary-background-color);
	--ls-right-sidebar-code-bg-color: #04303c;
	--color-level-1: var(--ls-secondary-background-color);
	--color-level-2: var(--ls-tertiary-background-color);
	--color-level-3: var(--ls-quaternary-background-color);
	--color-level-4: #195d6c;
	--color-level-5: #266c7d;
	--color-level-6: #3a7e8e;
*/
}

/* Checkbox beautification */

span.inline.done {
	opacity: 1;
	color: var(--ls-secondary-text-color);
}

.form-checkbox {
	--ls-page-checkbox-color: var(--ls-tertiary-background-color);
	--ls-page-checkbox-border-color: var(--ls-quaternary-background-color);
	
	background-color: var(--ls-page-checkbox-color);
	border: 1px solid var(--ls-page-checkbox-border-color);
	border-radius: 5px;
	opacity: 1;
}

.form-checkbox:checked:focus,
.form-checkbox:checked {
	background-color: var(--accent-color);
	border: 1px solid var(--accent-color) !important;
	opacity: 1 !important;
}

/* Border hover colour */

.block-children-left-border:hover {
	background-color: var(--accent-color);
}

/* 50% opacity reduces contrast too much; theme is already lower-contrast */
.opacity-50 {
	opacity: 0.666;
}

/* Selection lists (search, tag complete, etc.) */

#ui__ac .chosen,
.chosen {
	--ls-primary-text-color: #fafafa;
	--ls-link-ref-text-color: #eaeaea;
	--ls-link-ref-text-hover-color: #fafafa;
	--ls-quaternary-background-color: var(--accent-dark-color);
}

#ui__ac .chosen {
	background-color: var(--accent-dark-color);
}

.menu-link.chosen  {
	color: var(--ls-primary-text-color) !important;
}

/* links and tags */

a.tag {
	font-size: 90%;
	color: var(--ls-link-ref-text-color);
}

a.tag[data-ref=card] {
	opacity: 0.5;
}

.page-ref {
	color: var(--ls-link-text-color);
}

/* colouring UI */

.cp__right-sidebar-topbar a,
.cp__header a.button {
	color: var(--ls-primary-text-color);
	opacity: 0.6;
}

#custom-context-menu a {
	color: var(--ls-primary-text-color);
}

#custom-context-menu a:hover,
.cp__right-sidebar-topbar a:hover,
.cp__header a.button:hover {
	/*color: var(--ls-link-text-color);*/
	opacity: 1;
}


/* Fonts and their colours */

/* Base font is system font (San Francisco for macOS). */

body,
#global-graph,
.cp__all_pages {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

/* Content font should be set in variable '--content-font-family' */

.ls-card,	
.sidebar-item .content,
#main-content-container .content {
	font-family: var(--content-font-family, sans-serif), sans-serif;
	line-height: var(--content-line-height, inherit);
}

textarea {
	line-height: var(--content-line-height, inherit);	
}

.ls-block {
	padding: var(--block-padding, 2px) 0;
}

/* Monospace code shall use iA Writer Mono */

:not(pre)>code,
.CodeMirror {
	font-family: "iA Writer Mono S", "IBM Plex Mono", Menlo, Monaco, MonoLisa, 'Fira Code',Consolas,'COURIER NEW',monospace;
}

.ls-card,	
.sidebar-item,
#main-content-container {
	--ls-primary-text-color: #1A1A1A;
	--ls-title-text-color: #1A1A1A;
	--color-level-1: #EEEEEE;
	--color-level-2: #E0E0E0;
}

.dark .sidebar-item .content,
.dark #main-content-container,
.dark-theme .sidebar-item .content,
.dark-theme #main-content-container {
	--ls-primary-text-color: #CCCCCC;
	--ls-title-text-color: #CCCCCC;
	--color-level-1: var(--ls-secondary-background-color);
	--color-level-2: var(--ls-tertiary-background-color);
}

html[data-theme=light] .cp__right-sidebar .block-content {
	--ls-page-inline-code-bg-color: #E0E0E0;
	--ls-page-blockquote-bg-color: #E0E0E0;
	--ls-page-properties-background-color: #E0E0E0;
}

.dark .cp__right-sidebar .block-content,
.dark-theme .cp__right-sidebar .block-content {
	--ls-page-inline-code-bg-color: var(--ls-tertiary-background-color);
	--ls-page-blockquote-bg-color: var(--ls-tertiary-background-color);
	--ls-page-properties-background-color: var(--ls-tertiary-background-color);
}

.CodeMirror, .CodeMirror-wrap {
	background-color: var(--ls-tertiary-background-color) !important;
	text-shadow: none !important;
}

.CodeMirror pre.CodeMirror-line {
	font-size: 15px;	
}

.CodeMirror-linenumber {
	color: var(--ls-secondary-text-color) !important;
	text-shadow: none !important;
}

.CodeMirror-gutters {
	background-color: var(--ls-secondary-background-color) !important;
	opacity: 0.6;
}

.extensions__code > .extensions__code-lang {
	font-size: 90%;
	font-style: italic;
	padding-right: 1ex;
	padding-bottom: 0px;
	margin-bottom: 0;
	color: var(--ls-primary-text-color);
	background-color: inherit;
}

/* default colour when not being styled */
.CodeMirror pre>span {
	color: var(--ls-primary-text-color);
}

/* border around preformatted text to make them stand out just a bit. */

.admonitionblock,
.CodeMirror {
	border: 1px dotted var(--ls-quaternary-background-color);
	background-color: var(--ls-tertiary-background-color);
}

blockquote {
	background: transparent;
	border-left: none;
	font-style: italic;
}

.admonitionblock {
	margin: 1rem 0;
	padding: 12px 20px;
	border: 1px dotted var(--ls-quaternary-background-color);
}

.admonitionblock div {
	font-size: 100%;
}

/* Distinguish flash cards */

div[data-refs-self*='"card"'] {
	/*margin: 1rem 0;*/
}

.ls-block.shadow-xl {
	border: 1px dotted var(--ls-quaternary-background-color);
	background-color: var(--ls-tertiary-background-color);
	border-radius: 10px;
}

/* Distinguish right sidebar content */

.sidebar-item {
	background-color: var(--ls-secondary-background-color);
	border-bottom: 1px solid var(--ls-quaternary-background-color);
	box-shadow: none;
}

/* Tweak left sidebar to use macOS-like colours */

.left-sidebar-inner {
	--ls-primary-text-color: #505050;	
}

.dark .left-sidebar-inner,
.dark-theme .left-sidebar-inner {
	--ls-primary-text-color: #B3B3B3;	
}

.left-sidebar-inner .font-medium,
.search-results-wrap div.font-medium {
	font-weight: 400;
}

.left-sidebar-inner .fade-link {
	opacity: 1.0;
}

.left-sidebar-inner .header:hover {
	background-color: var(--ls-quaternary-background-color) !important; 
}

/* Highlighting is yellow */

mark {
	background-color: #F9E67A;
}


/* Page title, breadcrumbs fonts and styles */

#journals > div > div.w-full.p-4 > a.text-4xl,
h1.title {
	font-family: -apple-system-headline, "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif !important;
	font-size: 20pt !important;
}

/* Give the field a bit of pizazz when it's being edited */

h1.title input:focus-within {
	color: var(--ls-link-text-color) !important;
}

a.page-title, 
.block-parents a {
	font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
	color: var(--ls-link-ref-text-color);
	font-weight: 300;
	transition: none;
}
a.page-title:hover, 
.block-parents a:hover {
	color: var(--ls-link-ref-text-hover-color);
}


/* Modest variety for headings */

*:is(#main-content-container, #right-sidebar, .tippy-tooltip, .ls-card) *:is(.editor-inner .h1, .ls-block h1) {
	font-size: var(--content-h1-size, 110%) !important;
	font-weight: bold !important;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	border-bottom: none !important;
}

*:is(#main-content-container, #right-sidebar, .tippy-tooltip, .ls-card) *:is(.editor-inner .h2, .ls-block h2) {
	font-size: var(--content-h2-size, 110%) !important;
	font-weight: bold !important;
	border-bottom: none;
}

*:is(#main-content-container, #right-sidebar, .tippy-tooltip, .ls-card) *:is(.editor-inner .h3, .ls-block h3) {
	font-style: italic !important;
	font-size: var(--content-h3-size, 110%) !important;
	font-weight: normal;
}

*:is(#main-content-container, #right-sidebar, .tippy-tooltip, .ls-card) *:is(.editor-inner .h4, .ls-block h4) {
	font-weight: bold !important;
	font-size: var(--content-h4-size, 100%) !important;
}

*:is(#main-content-container, #right-sidebar, .tippy-tooltip, .ls-card) *:is(.editor-inner .h5, .ls-block h5) {
	font-style: italic !important;
	font-size: var(--content-h5-size, 100%) !important;
	font-weight: normal;
}

*:is(#main-content-container, #right-sidebar, .tippy-tooltip, .ls-card) *:is(.editor-inner .h6, .ls-block h6) {
	font-size: 100% !important;
	font-weight: normal;
}

/* Mind map icon desaturation */

#logseq-mark-map-injected-ui-item-logseq-mark-map-logseq-mark-map-logseq-mark-map svg {
	filter: saturate(0%);
}

/* Hide extraneous stuff: help icon (just press ?) and mindmap (ctrl-m ctrl-m) */

#logseq-mark-map-injected-ui-item-logseq-mark-map-logseq-mark-map-logseq-mark-map,
.cp__sidebar-help-btn {
	display: none;
}

